# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
# Usually these files are written by a python script from template
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
pytestdebug.log

# Translations
*.mo
*.pot

# Django related
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask related
instance/
.webassets-cache

# Scrapy related
.scrapy

# Sphinx documentation
docs/_build/
doc/_build/
build/
# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb~

# IPython
profile_default/
ipython_config.py

# Pycharm / VSCode
.idea/
.vscode/

# mypy
.mypy_cache/
.dmypy.json
dmypy.json
.pyre/

# pytype
.pytype/

# Cython debug symbols
cython_debug/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# pyenv
.python-version

# pipenv
Pipfile.lock

# poetry
poetry.lock

# Spyder project settings
.spyderproject
.spyproject

# Rope project settings
.ropeproject

# mkdocs documentation
/site

# dotenv
*.env
*.env.*

# OS files
.DS_Store
Thumbs.db
